@(typesList: List[Type])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create/Edit Fields</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#btn1").click(function(){
                    $("p").append(" <b>Appended text</b>.");
                });

                $("#sel1").click(function(){
                    $.get("@views.html.simple",
                            function (data) {
                                $("#appendToThis").append(data);
                            });
                    var value = $(this).val();
//                    $("p").append("<p>AZAZAZAZAZAZAZAZAZAZZA</p>");
//                    $("p").append(data);
//                            $(this).children("p:first").html(data);
                    alert(value);
//                    var txt3 = document.
//                    $('#content').load('simple.html');
                    /*$("body").append();
                     $("body").load('simple.html');*/
                    /*$("#container").load("views/simple.html",function(){
                     $(this).clone().appendTo("body").remove();
                     });*/
                });
            });
        </script>
    </head>
    <body>

        <div class="container">
            <ul class="list-inline">
                <li><a href="index1.html">Fields</a></li>
                <li><a href="index1.html">Responses
                    <span class="badge">2</span> </a>
                </li>
            </ul>
            <hr>
            <label>Create/Edit Field</label>
            <br>
            <br>
            <label class="control-label">Label*:</label>
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input class="col-sm-4 form-control" id="input" type="text" value="" name="label"
                        placeholder="Label name">
                    </div>
                    <div class="col-sm-2"></div>
                    <label><input type="checkbox" value="true" name="required"> Required</label>
                </div>
                <br>
                <br>
                <label class="control-label">Type*:</label>
                <br>
                <div class="form-group">
                    <div class="col-sm-4">
                        <select class="form-control" id="sel1" name="type">
                        @for(types <- typesList) {
                            <option>@types</option>
                        }
                        </select>
                    </div>
                    <div class="col-sm-2"></div>
                    <label><input type="checkbox" value="true" name="active"> Is Active</label>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" formmethod="post"
                    formaction="@routes.CreateFieldController.addField()">
                        <span class="glyphicon glyphicon-save-file"></span>Save</button>
                    <button type="button" class="btn btn-default" id="btn1">
                        <span class="glyphicon glyphicon-remove"></span>Cancel</button>
                </div>
                <p id="appendToThis"></p>

            </form>
        </div>
    </body>
</html>