@(fieldsList: List[models.Field])

@main("Fields") {

    @helper.form(action = routes.CreateFieldController.index()) {
        <body>
            <div class="container">
                <ul class="list-inline">
                    <li><a href="@routes.FieldsController.index()">Fields</a></li>
                    <li><a href="@routes.ResponsesController.index()">Responses
                        <span class="badge">2</span></a></li>
                </ul>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> Add Field
                </button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Required</th>
                            <th>Is Active</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(field <- fieldsList) {
                            <tr>
                                <td>@field.getLabel</td>
                                <td>@field.getType</td>
                                <td><input type="checkbox" value="" @if(field.isRequired){checked} onclick="return false;"></td>
                                <td><input type="checkbox" value="" @if(field.isActive){checked} onclick="return false;"></td>
                                <td><a href="@routes.EditFieldController.index(field.getFieldId.toString)">edit</a></td>
                                <td id="@field.getFieldId"><a href="" onclick="return false;">delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </body>
    }
}
<script>
        $(function(){
            $("td").click(function(){
                var rowId = $(this).attr('id');
                $.post("@routes.FieldsController.deleteField()",
                        { id: rowId },
                        function(data){
                            alert(data);
                            $('#' + rowId).parent().hide();
                        });
            });
        });
</script>