@(responsesList: List[models.Response], fieldsList: List[models.Field])

    @main("Responses") {
        <body>
            <div class="container">
                <ul class="list-inline">
                    <li><a href="@routes.FieldsController.index()">Fields</a></li>
                    <li><a href="@routes.ResponsesController.index()">Responses<span class="badge">2</span></a></li>
                </ul>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        @for(field <- fieldsList) {
                            @if(field.isActive) {
                                <th>@field.getLabel</th>
                            }
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @for(response <- responsesList) {
                        <tr>
                        @for(content <- response.getResponseContents) {
                            @if(!content.getContent.isEmpty){
                                <td>@content.getContent</td>
                            } else {
                                <td>N/A</td>
                            }
                        }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </body>
    }